@font-face {
  font-family: 'Satoshi';
  src: url('./Satoshi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi'; 
  src: url('./Satoshi-Black.woff2') format('woff2'); 
  font-weight: bold; /* or 700 */
  font-style: normal;
  font-display: swap;
}